@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    min-height: 100vh;
    background-color:white;
}
nav{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    padding: 10px 14px;
    background-color:ghostwhite;
    border-right: 1px solid lightgrey;
}
nav .logo-name{
    display: flex;
    align-items: center;
}
nav .logo-image{
    display: flex;
    justify-content: center;
    min-width: 45px;
}
nav .logo-image img{
    width: 40px;
    object-fit: cover;
    border-radius: 6px;
}

nav .logo-name .logo_name{
    font-size: 22px;
    font-weight: 600;
    color: black;
    margin-left: 14px;
}
nav.close .logo_name{
    opacity: 0;
    pointer-events: none;
}
nav .menu-items{
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.nav-links li :hover{
    background:lightblue;
    color: white;
}
.menu-items li{
    list-style: none;
}
.menu-items li a{
    display: flex;
    align-items: center;
    height: 50px;
    text-decoration: none;
    position: relative;
}
.menu-items li a i{
    font-size: 24px;
    min-width: 45px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: lightslategray;
}
.menu-items li a .link-name{
    font-size: 18px;
    font-weight: 400;
    color: black;
}
.menu-items .mode{
    display: flex;
    align-items: center;
    white-space: nowrap;
}
.menu-items .mode-toggle{
    position: absolute;
    right: 14px;
    height: 50px;
    min-width: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.mode-toggle .switch{
    position: relative;
    display: inline-block;
    height: 22px;
    width: 40px;
    border-radius: 25px;
    background-color: red;
}
.dashboard{
    justify-content: center;
    position: fixed;
    left: 250px;
    background-color:white;
    min-height: 100vh;
    width: 70%;
    padding: 10px 14px;
    margin-left: 60px;
}
nav.close ~ .dashboard{
    left: 73px;
    width: calc(100% - 73px);
}
.dashboard .top{
    position: fixed;
    top: 0;
    left: 250px;
    display: flex;
    width: calc(100% - 250px);
    justify-content: space-between;
    align-items: center;
    padding: 10px 14px;
    background-color:lightgrey;
    z-index: 10;
}
nav.close ~ .dashboard .top{
    left: 73px;
    width: calc(100% - 73px);
}
.dashboard .top .search-box{
     align-items: center;
    position: relative;
    height: 35px;
    max-width: 600px;
    width: 100%;
    margin: 0 400px;
    margin-left: 18px;
}
.top .search-box input{
    position: absolute;
    border: 1px solid black;
    background-color:whitesmoke;
    padding: 0 25px 0 50px;
    border-radius: 5px;
    height: 100%;
    width: 100%;
    color: black;
    font-size: 15px;
    font-weight: 400;
    outline: none;
}
.top .search-box i{
    position: absolute;
    left: 15px;
    font-size: 22px;
    z-index: 10;
    top: 50%;
    transform: translateY(-50%);
    color: lightblue;
}
.dashboard .dash-content{
    padding-top: 50px;
}
.dash-content .title{
    display: flex;
    align-items: center;
    margin: 60px 0 30px 0;
}
.dash-content .title i{
    position: relative;
    height: 35px; 
    width: 35px;
    background-color:red;
    border-radius: 6px;
    color: blue;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
}
.dash-content .title .text{
    font-size: 24px;
    font-weight: 500;
    color:black;
    margin-left: 10px;
}
.dash-content .boxes{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.dash-content .boxes .box{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 12px;
    width: 250px;
    padding: 15px 20px;
    background-color:lightblue;
}
.boxes .box i{
    /* margin-left: 200px; */
    display: flex;
    font-size: 35px;
    color: black;
}
.boxes .box .text{
    text-decoration: none;
     white-space: nowrap;
    font-size: 18px;
    font-weight: 500;
    color:black;
}
.boxes .box.box2{
    background-color: lightblue;
}
.boxes .box.box3{
    background-color: lightblue;
}