.house1{
    font-weight: 50px;
    text-align: center;
    padding: 20px;
    background-color: burlywood;
    font-size:larger;
}
.house2{
    background-color:floralwhite;
}
.house2 p{
    font-size: x-large;
}
.worker1{
    font-weight: 100px;
    text-align: center;
    font-size: x-large;
}
.worker2{
    font-size:medium;
    text-align: center;
    margin-bottom: 350px;
    font-size: x-large;
}